
!.mvn/wrapper/maven-wrapper.jar

#classes folder
bin/
target/
classes/
class/

# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs
hs_err_pid*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*~


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
nbactions.xml
nb-configuration.xml

# Eclipse
.project
.settings
.classpath
.metadata
.recommenders

/log/
